.info__aboutMe {
    text-align: justify;
    margin: 2rem;
    padding: .5rem;
}

.title__aboutMe {
    color: var(--color-green-bg);
    font-weight: 700;
    line-height: 4rem;
}

.parragraph__aboutMe {
    font-size: 1.2rem;
    color: rgb(87, 85, 85);
}


/* MEDIA QUERY */

@media only screen and (max-width: 412px) {}


@media only screen and (min-width: 512px) {}


@media only screen and (min-width: 768px) {}


@media only screen and (min-width: 992px) {
    .title__aboutMe{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .info__aboutMe{
        margin: 4rem;
        padding: 1rem;
    }
    .parragraph__aboutMe{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1200px) {}