/* SCROLL */

.row::-webkit-scrollbar {
    height: 10px;
    /* width of the entire scrollbar */
}

.row::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.row::-webkit-scrollbar-thumb {
    background-color: rgba(214, 206, 206, 0.562);
    /* color of the scroll thumb */
    border-radius: 10px;
    border: 1px solid rgb(235, 225, 206);
    /* creates padding around scroll thumb */

}

/* FIN SCROLL */


/* ABILITIES */


.container__abilities {
    display: grid;
    grid-template-columns: 25% 65%;
}

.circulo__green-abilities {
    background-color: var(--color-green-bg);
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: -8.5rem;
    top: -5%;
}

.circulo-orange {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: var(--color-orange-secondary);
    position: relative;
    left: 20%;
    top: -35%;
}

.span-mis {
    color: #ffffff;
    position: absolute;
    left: -4.5rem;
}

.title__abilities {

    color: var(--color-green-bg);
    display: inline-flex;
    justify-items: right;
    position: relative;
    font-weight: 700;
    line-height: 4rem;
    left: .5rem;
    margin-bottom: 1rem;
}

.title__ability {
    font-size: 1rem;
    font-weight: 900;
    padding-left: 1rem;
    display: flex;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    flex-wrap: nowrap;
    display: flex;
    overflow: auto;
    gap: 1rem;
}

.col-4 {
    width: 33.33%;
}

.card {
    min-width: 250px;
    text-align: justify;
}

.abitities__cards {
    margin-left: 5rem;
}

.ability-1,
.ability-2,
.ability-3,
.ability-4 {
    background-color: var(--bg-color);
    padding: 1rem;
}

.ability-4 {
    margin-right: 0;
}

.icon__abilities {
    width: 1rem;
    display: flex;
    margin-right: .3rem;
}


/* MEDIA QUERY */

@media only screen and (max-width: 412px) {}


@media only screen and (min-width: 512px) {
    .span-mis {
        left: -4.5rem;
    }
    .title__abilities {
        left: -2rem;
    }
}

@media only screen and (min-width: 768px) {
 
    .title__abilities {
        left: -6rem;
    }
    .abitities__cards {
        margin-left: 2rem;
    }
}


@media only screen and (min-width: 992px) {
    .circulo__green-abilities{
        width: 22rem;
        height: 22rem;
        margin-left: -9rem;
    }
    .title__abilities{
        font-size: 2.5rem;
        left: -6rem;
        margin-bottom: 2rem;
    }
    .span-mis{
        left: -6.7rem;
    }
    .circulo-orange{
        width: 9rem;
        height: 9rem;
    }
}

@media only screen and (min-width: 1200px) {
    .title__abilities{
        left: -9.5rem;
    }
    .abitities__cards{
        margin-left: -4rem;
    }
}
@media only screen and (min-width: 1500px){
    .title__abilities{
        left: -15.5rem;
    }
}